TD {
    FONT: 13px sans-serif;
}
BODY    {
    FONT: 13px sans-serif;
    BORDER: 0;
	BORDER-LEFT: 1px inset;
	BORDER-RIGHT: 1px inset;
    BACKGROUND-COLOR: white;
}
.item {
	line-height: 20px;
	position: relative;
	left: 0px;
}
A	{
	text-decoration: none;
	color: black;
}
.editable {
	color: black;
}
.editable .selected {
	background-color: #333399;
	color: white;
}
.fixed {
	color: #999999;
}
.fixed .selected {
	color: #CCCCCC;
	background-color: #333399;
}
.invisible {
	font-style: italic;
}
.row {
	height: 20px;
}
IMG.icon {
	padding: 0px;
	border: 0px;
	margin: 0px;
	margin-left: -3px;
	margin-right: 3px;
}
IMG.flag {
	margin-top: 5px;
}
TABLE.samstable { background:white; width:95%; align:center  }
TABLE.samstable TH { background:beige; width:auto; }
TABLE.samstable TD { background:blanchedalmond;  width:auto;  font-size:-1;  }

TABLE.samstray { background:white; width:auto; border:1;  }
TABLE.samstray TD { background:white; align:center; valign:top; width:48; height:50; }
TABLE.samstray IMG { align:center; }

IMG { border:0; }