Source: sams
Section: net
Priority: optional
Maintainer: Pavel Vinogradov <Pavel.Vinogradov@nixdev.net>
Build-Depends: debhelper (>= 5), automake, autotools-dev, libmysqlclient15-dev, libpcre3-dev, quilt, libtool
Standards-Version: 3.8.0
Homepage: http://sams.nixdev.net
Vcs-Svn: http://svn.nixdev.net/svn/sams/branches/2.0.x
Vcs-Browser: http://sams.nixdev.net/browser/2.0.x

Package: sams
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: sams-web, mysql-server, squid
Suggests: squidguard
Description: Squid Account Management System (SAMS) - Deamons
 This program basically used for administrative purposes of squid proxy.
 There are access control for users by ntlm, ncsa, basic or ip
 authorization mode.
 .
 This package contain deamons program to parse squid log files and 
 generate squid conf-files.

Package: sams-web
Section: web
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2 | httpd, php5, php5-mysql
Recommends: sams-doc
Suggests: php5-gd, php5-ldap
Description: Squid Account Management System (SAMS) - Web interface
 This program basically used for administrative purposes of squid proxy.
 There are access control for users by ntlm, ncsa, basic or ip
 authorization mode.
 .
 This package contain web-interface to access collected statistic and
 manage user access to proxy server

Package: sams-doc
Section: doc
Architecture: all
Depends: doxygen
Description: Squid Account Management System 2 (SAMS) - Documentation
 The sams2-doc package includes the HTML versions of the "Using SAMS2".
